<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946663540886-j5hh0ddume1koqodip6mkun2as9pte75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946663540886-j5hh0ddume1koqodip6mkun2as9pte75</string>
	<key>API_KEY</key>
	<string>AIzaSyDGBYQByn78P7zdpJhCzoLnFkUWuyccjVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>946663540886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsdevelopers.guaraapp</string>
	<key>PROJECT_ID</key>
	<string>guaraacquapark</string>
	<key>STORAGE_BUCKET</key>
	<string>guaraacquapark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946663540886:ios:82272b041a10ba6d15dab7</string>
</dict>
</plist>